
<div class="container">
  <!-- Recap: ngFor and ngIf -->
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers
      </button>
      <br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li 
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{ odd: odd % 2 !== 0 }" 
            [ngStyle]="{ backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent' }"
          >  
            {{ odd }}
          </li>
        </div>        
        <div *ngIf="!onlyOdd">
          <li 
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{ backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent' }"            
          >
            {{ even }}
          </li>
        </div>        
      </ul>
      <!-- END of Recap: ngFor and ngIf -->

      <p appBasicHighlight>  Style me with basic directive..</p>
      <p appBetterHighlight3>Style me with basic3 directive..</p>
      <p 
        appBetterHighlight 
        [defaultColor]="'blue'" 
        [highlightColor]="'purple'"> Style me with better directive..</p>
      <p 
        [appBetterHighlight5]="'gold'" 
        [defaultColor]="'turquoise'">Style me with better5 directive..</p>
      <p appBetterHighlight2>Style me with better2 directive..</p>
      <p appBetterHighlight4>Style me with better4 directive..</p>
    </div>
  </div>
</div>

<!--  
  ============== [ GENERAL NOTES ] ===============

  Attribute Directives:
    * Loook like a normal HTML attribute (possibly with databinding or event binding)
    * Only affect/change the element they are added to 
  
  Structural Directives:
    * Look like a normal HTML attribute BUT have a leading * (for desugaring)
    *Affect a whole area in the DOM (elements get added/removed)

 -->